@import '../../../../styles.scss';
@import '../../../shared/styles/review-actions.scss';

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20%;
  row-gap: 5%;
  padding: 8% 15%;
  margin-bottom: 30px;
}
.grid * {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  display: flex;
  align-items: center;

  color: #0e2d4a;
}

.company-card {
  display: block;
  margin-bottom: 50px;
}

.document-card {
  display: block;
  margin-bottom: 80px;
}

.doc-stack {
  display: flex;
  column-gap: 70px;
  padding: 10vh 7vh;
}
