<div class="profile-header">
  <img src="/assets/profile.png" alt="profile-picture" />
  <p>{{ signatory.name }}</p>
</div>
<div class="fields">
  <div class="profile-field">User Name: {{ signatory.name }}</div>
  <div class="profile-field">Email: {{ signatory.email }}</div>
  <div class="profile-field">Mobile Number: {{ signatory.mobile }}</div>
  <div class="profile-field">Emirates ID: {{ signatory.emiratesID }}</div>
  <div class="profile-field">Location: {{ signatory.location }}</div>
  <div class="profile-field">
    Registerer Address: {{ signatory.registeredAddress }}
  </div>
</div>
