@import '../../../../styles.scss';

h4 {
  font-family: $font-family;
  font-size: 33px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
