<h4>Insurance Forms Registered</h4>

<table>
  <thead>
    <tr>
      <th>
        Company Name
        <app-dropdown-radio
          [options]="companyNameFiltersOptions"
          (optionSelected)="activeCompanyName = $event"
        />
      </th>
      <th>Date</th>
      <th>
        Status
        <app-dropdown-radio
          [options]="statusOptions"
          (optionSelected)="activeStatus = $event"
        />
      </th>
      <th>Action</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.companyName }}</td>
      <td>{{ item.date }}</td>
      <td [class]="'status-' + item.status">{{ item.status | titlecase }}</td>
      <td class="actions">
        <div class="buttons-stack">
          <button class="accept button">Accept</button>
          <button class="reject button">Reject</button>
        </div>
      </td>
      <td>
        <a class="review-link" [routerLink]="'/back-office/review/' + item.id"
          >Review</a
        >
      </td>
    </tr>
  </tbody>
</table>
