@import '../../../styles.scss';

.document {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70px;
  height: 75px;
  max-width: 70px;
  max-height: 75px;
  cursor: pointer;
}

.document-icon {
  width: 55px;
  margin-bottom: 15px;
}

.document-name {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  width: 100%;
}
