@import '../../../shared/styles/form-input.scss';
@import '../../../../styles.scss';

.change-password {
  margin: 0px auto;
  padding-top: 60px;
  max-width: 30vw;
  color: $primary-color;
}

.form-group:last-of-type {
  margin-bottom: 50px;
}

button {
  display: block;
  margin: 0px auto;
}
