<div *ngIf="!(auth.isLoading$ | async)" class="container">
  <div class="shape">
    <h1 class="title">Insurance company login</h1>
  </div>

  <div class="form">
    <!-- <div class="form-group">
      <label>E-mail / Mobile Number</label>
      <input name="email" type="email" />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input name="password" type="email" />
    </div> -->

    <button class="button login-btn" (click)="login()">Login</button>
    <!-- <div class="links">
      <p class="forgot">
        <a routerLink="/insurer/forgot">Forget password?</a>
      </p>
      <p class="signup">
        Don't have account? <a routerLink="/insurer/signup">Sign up</a>
      </p>
    </div> -->
  </div>
</div>
