@import '../../../../styles.scss';
@import '../../../shared/styles/form-input.scss';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 200px;
}
@media screen and (max-width: 960px) {
  .container {
    grid-template-columns: 1fr;
  }
}
.shape {
  border-radius: $border-radius;
  position: relative;
  padding-left: 48px;
  max-width: 50vw;
  min-height: 393.17px;
  margin-bottom: 50px;
  background: linear-gradient(180deg, #f8f8fc, #ffffff00 40%),
    linear-gradient(90deg, #4a55bc20 4.13%, #4a55bc0c 80.29%);
  border: 1px solid #ffffff;
  box-shadow: 0px 70px 40px 0px #4a55bc23;
  z-index: -10;
}
.shape::before {
  @include pseudo-element;
  width: 19px;
  height: 345px;
  left: 18px;
  top: 25px;
  background: url('/assets/login-pagination.png');
}
.shape::after {
  @include pseudo-element;
  width: 152px;
  height: 79px;
  right: -100px;
  bottom: -5px;
  background: url('/assets/random lines.png');
}
.shape h1 {
  font-family: 'GFS Didot', sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 101px;
  letter-spacing: 0px;
  text-align: left;
  color: $primary-color;
  z-index: 10;
}
.form {
  padding: 16px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-btn {
  width: 100%;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
}

.form-group {
  margin-bottom: 20px;
}

.form-group:nth-of-type(2) {
  margin-bottom: 50px;
}

.links {
  display: flex;
  justify-content: space-between;
  color: $secondary-color;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.links .signup a {
  font-weight: 600;
}
