<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and conditions</title>
</head>

<body>

    <div class="container">
        <div class="logo">
            <img src="../../../../assets/RasAlkhaimah-courts.png" class="logo">
        </div>

    <div class="terms-and-conditions">
      <div class="form-header">Terms & Conditions</div>
      <p>
      1.    To use the Recovery Platform only for the purposes defined in the Terms and Conditions for the
      use of the Recovery Platform.
      </p>
      <p>

        2.    We have reviewed, comprehended, and unreservedly accepted the terms and conditions
        specified at [insert the link to the detailed Terms and Conditions], including any amendments
        thereto (hereinafter referred to as "Terms and Conditions"). This acknowledgment includes a
        thorough understanding of the rights, obligations, and liabilities outlined in the Terms and
        Conditions, thereby affirming the Company's commitment to use the Recovery Platform
        for the defined purpose
      </p>

      <p>
      3.   To strictly adhere to and comply with all the stipulations and requirements delineated in the
      Terms and Conditions. This commitment extends to compliance with all relevant
      laws, regulations, and industry standards applicable to the operation and utilization
      of the Recovery Platform, ensuring a transparent and lawful engagement with
      the Recovery Platform.
    </p>

    <p>
      4.    Confirm that this Signup Form is endorsed by a duly authorized representative of the
      Company, vested with full authority to represent and legally bind the Company to the
      Terms and Conditions
      The Company undertakes to promptly notify the Electronic Government Authority, Ras Al Khaimah,
      of any changes in the representative's authorization or any other pertinent information that may
      impact the validity or enforceability of this Undertaking.
    </p>

    <p class="last-child">
      This Undertaking along with the Terms and Condition is a legally binding contract,
      and any breach of the terms may result in legal consequences as stipulated in the Terms and
      Conditions.
    </p>
    <div class="buttons">
        <button class="button accept">Accept</button>
        <button class="button decline">Decline</button>
    </div>

    </div>
  </div>

</body>
</html>
