@import '../../../styles.scss';

* {
  box-sizing: content-box;
}

.layout-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  margin: 0 0px $spacing-lg 0px;
  padding: $spacing-lg calc($spacing-xxl * 2) 4px calc($spacing-xxl * 2);
}

.topbar img {
  height: 100%;
}

.content {
  padding: 100px 10%;
}

@media screen and (max-width: 1200px) {
  .content {
    padding: 70px 6%;
  }
}

.background-effects {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -10;
}

.eclipse {
  position: absolute;

  width: 634px;
  height: 634px;
  border-radius: 50%;

  background: scale-color($color: $primary-color, $alpha: -50%);
  filter: blur(300px);
}

.eclipse.eclipse-1 {
  top: -30vh;
  left: -20vw;
}
.eclipse.eclipse-2 {
  top: 60vh;
  left: 40vw;
}

.court-logo {
  position: absolute;
  top: 70vh;
  left: 80vw;
}
